*.aab
.gradle
/local.properties
**/.idea/**
.DS_Store
**/build/**
**/libs/**
/captures
*.o
*.o.d
*.so
**/obj/**
*.iml
*.apk
*.pro.user
/.project
gdb.setup
gdbserver
android_gradle_build.json
ndkBuild_build_output.txt
ndkBuild_build_command.txt
/app/.externalNativeBuild/
output.json
